@model dynamic
@using Telerik.Web.Mvc.UI;
@using System.Collections;

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
    @Html.Telerik(
      ).StyleSheetRegistrar(
      ).DefaultGroup(group => 
        group.Add("Site.css").Add("telerik.common.css").Add("telerik.web20.css")
      )
</head>
<body>
    <div id="container">
		<div id="header">
			Fun with Numeric TextBox
		</div>

		<div id="body">
			<h3>
				Sample One
			</h3>
			<div>
				<span>
					Sample One:
				</span>
				<span>
					@Html.Partial("NumericTextBoxPartial", new { name = "SampleOne" })
				</span>
			</div>
			<div class="info">
				<p>
					Sample One is a stand alone NumericTextBox using some of the server side options.
					Nothing special here.
				</p>
			</div>

		</div><!-- END -->

		<div id="footer">
			@Html.Partial("FooterPartial")	
		</div>
    </div>

	<script>
		var undef; // undefined javascript var
	</script>

    @Html.Telerik(
      ).ScriptRegistrar(
      ).Scripts(scripts =>
        scripts.AddGroup("Group1", group =>
          group.Add("~/Scripts/lib/jquery.tmpl.js"
		  ).Add("~/Scripts/src/util.js"
		  )
        )
      ).Globalization(true)

</body>
</html>
